.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/*.csv
# Ignore everything by default
*

# Allow all files and folders inside this directory
!*/

# Specifically include all files recursively
!**


